.boton-clear {
    height: 65px;
    font-size: 1.6em;
    text-transform: uppercase;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 254, 110);
    margin-top: 8px;
    font-weight: bold;
    color: #000;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.boton-clear:hover {
    background-color: rgb(199, 255, 86);
}