.input {
    height: 90px;
    border-radius: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #000;
    color: #fff;
    padding: 11px;
    padding-right: 11px 30px 11px 11px;
    margin: 1px solid #888;
    box-shadow: -1px 2px 1px 1px #fff;
}