* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color: rgb(228, 255, 181);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: rgb(188, 254, 107);
  border-radius: 20px;
  border: 5px solid rgb(184, 255, 98);
  box-shadow: 10px 6px 7px 3px rgba(0,0,0,7%);
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}